<script id="tmpl-MainScreen" type="text/html">
<div class="MainView">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sample FB</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            </p>
            <ul class="nav">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 left-content">
          
        </div><!--/span-->
        <div class="span9">
          <div class="MainView-content">
                        <div class="MainView-panels">
                            <div class="MainView-panels-inner">
                            </div>
                        </div>
                    </div>
        </div><!--/span-hero-unit ->
      </div><!--/row-->

    </div><!--/.fluid-container-->
</div>  
</script>